<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grace.quant.repository.OrderMapper">
  <resultMap id="BaseResultMap" type="com.grace.quant.entity.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="scan_name" jdbcType="VARCHAR" property="scanName" />
    <result column="cl_ord_id" jdbcType="VARCHAR" property="clOrdId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="order_type" jdbcType="INTEGER" property="orderType" />
    <result column="order_business" jdbcType="INTEGER" property="orderBusiness" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="ord_rej_reason" jdbcType="INTEGER" property="ordRejReason" />
    <result column="ord_rej_reason_detail" jdbcType="VARCHAR" property="ordRejReasonDetail" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="volume" jdbcType="INTEGER" property="volume" />
    <result column="filed_volume" jdbcType="INTEGER" property="filedVolume" />
    <result column="side" jdbcType="INTEGER" property="side" />
    <result column="position_effect" jdbcType="INTEGER" property="positionEffect" />
    <result column="position_src" jdbcType="INTEGER" property="positionSrc" />
    <result column="order_duration" jdbcType="INTEGER" property="orderDuration" />
    <result column="order_qualifier" jdbcType="INTEGER" property="orderQualifier" />
    <result column="filed_vwap" jdbcType="REAL" property="filedVwap" />
    <result column="filed_amount" jdbcType="REAL" property="filedAmount" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="sent_at" jdbcType="TIMESTAMP" property="sentAt" />
    <result column="recv_at" jdbcType="TIMESTAMP" property="recvAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, sid, scan_name, cl_ord_id, order_id, symbol, order_type, order_business, 
    status, ord_rej_reason, ord_rej_reason_detail, price, volume, filed_volume, side, 
    position_effect, position_src, order_duration, order_qualifier, filed_vwap, filed_amount, 
    created_at, updated_at, sent_at, recv_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_status
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_status
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.grace.quant.entity.Order">
    insert into order_status (account_id, sid,
      scan_name, cl_ord_id, order_id, 
      symbol, order_type, order_business, 
      status, ord_rej_reason, ord_rej_reason_detail, 
      price, volume, filed_volume, 
      side, position_effect, position_src, 
      order_duration, order_qualifier, filed_vwap, 
      filed_amount, created_at, updated_at, 
      sent_at, recv_at)
    values (#{accountId,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR},
      #{scanName,jdbcType=VARCHAR}, #{clOrdId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{symbol,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, #{orderBusiness,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{ordRejReason,jdbcType=INTEGER}, #{ordRejReasonDetail,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{volume,jdbcType=INTEGER}, #{filedVolume,jdbcType=INTEGER}, 
      #{side,jdbcType=INTEGER}, #{positionEffect,jdbcType=INTEGER}, #{positionSrc,jdbcType=INTEGER}, 
      #{orderDuration,jdbcType=INTEGER}, #{orderQualifier,jdbcType=INTEGER}, #{filedVwap,jdbcType=REAL}, 
      #{filedAmount,jdbcType=REAL}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{sentAt,jdbcType=TIMESTAMP}, #{recvAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.grace.quant.entity.Order">
    insert into order_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="scanName != null">
        scan_name,
      </if>
      <if test="clOrdId != null">
        cl_ord_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderBusiness != null">
        order_business,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ordRejReason != null">
        ord_rej_reason,
      </if>
      <if test="ordRejReasonDetail != null">
        ord_rej_reason_detail,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="volume != null">
        volume,
      </if>
      <if test="filedVolume != null">
        filed_volume,
      </if>
      <if test="side != null">
        side,
      </if>
      <if test="positionEffect != null">
        position_effect,
      </if>
      <if test="positionSrc != null">
        position_src,
      </if>
      <if test="orderDuration != null">
        order_duration,
      </if>
      <if test="orderQualifier != null">
        order_qualifier,
      </if>
      <if test="filedVwap != null">
        filed_vwap,
      </if>
      <if test="filedAmount != null">
        filed_amount,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="sentAt != null">
        sent_at,
      </if>
      <if test="recvAt != null">
        recv_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="scanName != null">
        #{scanName,jdbcType=VARCHAR},
      </if>
      <if test="clOrdId != null">
        #{clOrdId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderBusiness != null">
        #{orderBusiness,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ordRejReason != null">
        #{ordRejReason,jdbcType=INTEGER},
      </if>
      <if test="ordRejReasonDetail != null">
        #{ordRejReasonDetail,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=INTEGER},
      </if>
      <if test="filedVolume != null">
        #{filedVolume,jdbcType=INTEGER},
      </if>
      <if test="side != null">
        #{side,jdbcType=INTEGER},
      </if>
      <if test="positionEffect != null">
        #{positionEffect,jdbcType=INTEGER},
      </if>
      <if test="positionSrc != null">
        #{positionSrc,jdbcType=INTEGER},
      </if>
      <if test="orderDuration != null">
        #{orderDuration,jdbcType=INTEGER},
      </if>
      <if test="orderQualifier != null">
        #{orderQualifier,jdbcType=INTEGER},
      </if>
      <if test="filedVwap != null">
        #{filedVwap,jdbcType=REAL},
      </if>
      <if test="filedAmount != null">
        #{filedAmount,jdbcType=REAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sentAt != null">
        #{sentAt,jdbcType=TIMESTAMP},
      </if>
      <if test="recvAt != null">
        #{recvAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.grace.quant.entity.Order">
    update order_status
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="scanName != null">
        scan_name = #{scanName,jdbcType=VARCHAR},
      </if>
      <if test="clOrdId != null">
        cl_ord_id = #{clOrdId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="orderBusiness != null">
        order_business = #{orderBusiness,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ordRejReason != null">
        ord_rej_reason = #{ordRejReason,jdbcType=INTEGER},
      </if>
      <if test="ordRejReasonDetail != null">
        ord_rej_reason_detail = #{ordRejReasonDetail,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="volume != null">
        volume = #{volume,jdbcType=INTEGER},
      </if>
      <if test="filedVolume != null">
        filed_volume = #{filedVolume,jdbcType=INTEGER},
      </if>
      <if test="side != null">
        side = #{side,jdbcType=INTEGER},
      </if>
      <if test="positionEffect != null">
        position_effect = #{positionEffect,jdbcType=INTEGER},
      </if>
      <if test="positionSrc != null">
        position_src = #{positionSrc,jdbcType=INTEGER},
      </if>
      <if test="orderDuration != null">
        order_duration = #{orderDuration,jdbcType=INTEGER},
      </if>
      <if test="orderQualifier != null">
        order_qualifier = #{orderQualifier,jdbcType=INTEGER},
      </if>
      <if test="filedVwap != null">
        filed_vwap = #{filedVwap,jdbcType=REAL},
      </if>
      <if test="filedAmount != null">
        filed_amount = #{filedAmount,jdbcType=REAL},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sentAt != null">
        sent_at = #{sentAt,jdbcType=TIMESTAMP},
      </if>
      <if test="recvAt != null">
        recv_at = #{recvAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.grace.quant.entity.Order">
    update order_status
    set account_id = #{accountId,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      scan_name = #{scanName,jdbcType=VARCHAR},
      cl_ord_id = #{clOrdId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      symbol = #{symbol,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=INTEGER},
      order_business = #{orderBusiness,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      ord_rej_reason = #{ordRejReason,jdbcType=INTEGER},
      ord_rej_reason_detail = #{ordRejReasonDetail,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      volume = #{volume,jdbcType=INTEGER},
      filed_volume = #{filedVolume,jdbcType=INTEGER},
      side = #{side,jdbcType=INTEGER},
      position_effect = #{positionEffect,jdbcType=INTEGER},
      position_src = #{positionSrc,jdbcType=INTEGER},
      order_duration = #{orderDuration,jdbcType=INTEGER},
      order_qualifier = #{orderQualifier,jdbcType=INTEGER},
      filed_vwap = #{filedVwap,jdbcType=REAL},
      filed_amount = #{filedAmount,jdbcType=REAL},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      sent_at = #{sentAt,jdbcType=TIMESTAMP},
      recv_at = #{recvAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_status
  </select>
</mapper>